/*Début du site*/
#rbnb{
    width: 100%;
    height: 800px;
    background-color: lightgray;
}

/*Header réservation*/
#rbnb #reserv{
    width: 100%;
    height: auto;
    background-color: gray;
    padding-top: 240px;
    padding-bottom: 80px;
}

#rbnb #reserv #textbutt{
    width: 54%;
    height: auto;
    margin-left: 17%;
}

#rbnb #reserv #textbutt .sejour{
    width: 75%;
    line-height: 1.3;
    font-family: 'Roboto', sans-serif;
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #fff;

}

/*Liens bouton*/
#rbnb #reserv #textbutt #lesboutons{
    width: 80%;
    height: 82px;
}

#rbnb #reserv #textbutt #lesboutons #butongauch{
    width: 50%;
    height: 80px;
    float: left;
    
}

#rbnb #reserv #textbutt #lesboutons #butondroit{
    width: 50%;
    height: 80px;
    float: left;
    
}

/*bouton 1*/
#rbnb #reserv #butongauch #bout1{
    text-align: center;
    line-height: 2.5;
    width: 94%;
    height: 45px;
    border-radius: 2px;
    background-color: #fff;
    
}

#rbnb #reserv #butongauch #bout1 .vasur{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    
}

/*Titre bouton 1*/
#rbnb #reserv #butongauch #titre1 .find{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

/*bouton 2*/
#rbnb #reserv #butondroit #bout2{
    text-align: center;
    line-height: 2.5;
    width: 94%;
    height: 45px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    
}

#rbnb #reserv #butondroit #bout2 .vasur{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    
}

/*Titre bouton 2*/
#rbnb #reserv #butondroit #titre2 .find{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}


/*Div Logement*/
#loger{
    width: 100%;
    height: auto;
    background-color: bisque;
}

/*Titre logement*/
#rbnb #loger #unique{
    width: 100%;
    padding-top: 45px;
    background-color: #fff;
}

#rbnb #loger #unique .titro{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-left: 17%;
    margin-bottom: 20px;
    color: #000;
}

/*Div check*/
#rbnb #loger #unique form{
    width: 100%;
    height: 130px;
    padding-bottom: 30px;
    background-color: #fff;
}

/*input pays*/
#rbnb #loger #unique form #pays{
    width: 20%;
    height: 102px;
    float: left;
    margin-left: 17%;

}

#loger #unique form .lepays{
    width: 100%;
    height: 65px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}


/*input arrivee*/
#rbnb #loger #unique form #arrive{
    width: 23%;
    height: 50px;
    float: left;
}

#loger #unique form #arrive #carre1{
    width: 50%;
    float: left;
}

#loger #unique form #arrive #carre2{
    width: 50%;
    float: left;
}

#rbnb #loger #unique form #arrive{
    width: 20%;
    height: 102px;
    float: left;
    margin-left: 1%;

}

#rbnb #loger #unique form #arrive .quand{
    width: 98%;
    height: 67px;
    border: 1px solid #bfbfbf;
    border-radius: 5px 0px 0px 05px;
    float: left;

}

#rbnb #loger #unique form #arrive .when{
    width: 98%;
    height: 67px;
    border: 1px solid #bfbfbf;
    border-radius: 0px 5px 5px 0px;
    float: left;

}

/*selection voyageur*/
#rbnb #loger #unique form #travel{
    width: 15%;
    height: 102px;
    float: left;
    margin-left: 1%;
}

#rbnb #loger #unique form #travel #voy{
    width: 100%;
    height: 68px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    background-color: #fff;
}


/*Button search*/
#rbnb #loger #unique form #search{
    width: 20%;
    height: 70px;
    float: left;
    margin-left: 1%;
    margin-top: 32px;
}

#loger #unique form #search .jenvoi{
    width: 57%;
    height: 70px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: #ff5a5f;
}

/*Les titres dans le formulaire*/
#loger #unique form #pays .country{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 5px;
    color: #000;
}

#loger #unique form #arrive .country{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 5px;
    color: #000;
}

#loger #unique form #travel .country{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 5px;
    color: #000;
}

/*section belgique*/
/*Titre de la section belgique*/
#rbnb #belgique{
    width: 100%;
    height: 665px;
    background-color: #fff;
}

#rbnb #belgique #lesautres{
    width: 60%;
    height: 65px;
    margin-left: 17%;
    margin-bottom: 25px;
    
}

#rbnb #belgique #lesautres .titro{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000;
    

}

#rbnb #belgique #lesautres #etoile{
    width: 15px;
    height: 15px;
    border-radius: 30px;
    background-color: yellow;
    float: left;
}

#rbnb #belgique #lesautres #nomad{
    float: left;
}

#rbnb #belgique #lesautres .nomad{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000; 

}

#rbnb #belgique #lesautres .nomad .likes{
    font-weight: 700; 

}

/*Section belgique-3 Div pour les commentaires sur les apparts*/
#rbnb #belgique #biens{
    width: 65%;
    height: 609px;
    margin-left: 17%;
    

}

/*Div studio-img div-text-stars-comments-personna et noms*/
#rbnb #belgique #biens #studio{
    width: 32.333%;
    height: 519px;
    background-color: gray;
    margin-right: 1%;
    float: left;
}

#belgique #biens #studio #limage{
        width: 100%;
        height: 277.22px;
        background-color: #ff5a5f;
        margin-bottom: 20px;
}

#belgique #biens #studio #stars{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;

    background-color: lightgreen;
}

#belgique #biens #studio #comment{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    
}

#belgique #biens #studio #comment .comm{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #484848;
}

#belgique #biens #studio #persona{
    width: 100%;
    height: 60px;
    background-color: firebrick;
}

#belgique #biens #studio #persona .photo{
    width: 60px;
    height: 60px;
    background-color: peru;
    float: left;
}

#belgique #biens #studio #persona .nom{
    width: 70%;
    height: 60px;
    background-color: lightcoral;
    float: left;
}

/*Div hotes-img div-text-star-comment-personnas et noms*/
#rbnb #belgique #biens #hotes{
    width: 32.333%;
    height: 519px;
    margin-bottom: 20px;

    background-color: lightgray;
    float: left;
}


#belgique #biens #hotes #hoteimg{
        width: 100%;
        height: 277.22px;
        margin-bottom: 20px;
        background-color: #ffc55a;
}

#belgique #biens #hotes #star{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: lightgreen;
}

#belgique #biens #hotes #comments{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    
}

#belgique #biens #hotes #comments .comms{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #484848;
}

#belgique #biens #hotes #personas{
    width: 100%;
    height: 60px;
    background-color: firebrick;
}

#belgique #biens #hotes #personas .photos{
    width: 60px;
    height: 60px;
    background-color: peru;
    float: left;
}

#belgique #biens #hotes #personas .noms{
    width: 70%;
    height: 60px;
    background-color: lightcoral;
    float: left;
}


/*Div confort-img div-text-stars-comments-personna et noms*/
#rbnb #belgique #biens #confort{
    width: 32.333%;
    height: 519px;
    margin-left: 1%;
    background-color: gray;
    float: left;
}


#belgique #biens #confort #confortimg{
        width: 100%;
        height: 277.22px;
        margin-bottom: 20px;
        background-color: #ff8f5a;
}

#belgique #biens #confort #confortstar{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: lightgreen;
}

#belgique #biens #confort #commentconf{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    
}

#belgique #biens #confort #commentconf .comconfort{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #484848;
}

#belgique #biens #confort #personaconf{
    width: 100%;
    height: 60px;
    background-color: firebrick;
}

#belgique #biens #confort #personaconf .photoconf{
    width: 60px;
    height: 60px;
    background-color: peru;
    float: left;
}

#belgique #biens #confort #personaconf .confnom{
    width: 70%;
    height: 60px;
    background-color: lightcoral;
    float: left;
}

/*Section travle with airbnb*/
#rbnb #trailbnb{
    width: 100%;
    height: 290px;
    padding-bottom: 50px;
    
}

/*Div Trip*/
#rbnb #trailbnb #trip{
    width: 65%;
    height: 289px;
    margin-left: 17%;
    
}

#trailbnb #trip #travelers .titro{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000;
}

#trailbnb #trip #letrio::before{
    content: " ";
    background-color: #ebebeb;
    display: block;
    width: 99%;
    height: 1px;
    margin-bottom: 45px;
}

#trailbnb #trip #letrio{
    width: 100%;
    height: 245px;
    
}

/*Div assist et ces différents éléments*/
#trailbnb #trip #letrio #assist{
    width: 32.333%;
    height: 172px;
    background-color: palegreen;
    float: left;
    margin-right: 1%;
}

#trailbnb #trip #letrio #assist #icon1{
    width: 100%;
    height: 60px;
    background-color: #d32e2e;
    margin-bottom: 20px;
}

#trailbnb #trip #letrio #assist #icon1 .avatar{
    width: 60px;
    height: 60px;
    background-color: #ffc965;
}

#trailbnb #trip #letrio #assist .jour{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #000;
}

#trailbnb #trip #assist .nuit{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
    color: #484848;
}

/*Div chart et ces différents éléments*/
#trailbnb #trip #letrio #chart{
    width: 32.333%;
    height: 172px;
    background-color: yellow;
    float: left;
}

#trailbnb #trip #letrio #chart #icon2{
    width: 100%;
    height: 60px;
    background-color: #d32e2e;
    margin-bottom: 20px;
}

#trailbnb #trip #letrio #chart #icon2 .avatar2{
    width: 60px;
    height: 60px;
    background-color: #ffc965;
}

#trailbnb #trip #letrio #chart .jour{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #000;
}

#trailbnb #trip #letrio #chart .nuit{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
    color: #484848;
}


/*Div hote5 et ces différents éléments*/
#trailbnb #trip #hote5{
    width: 32.333%;
    height: 172px;
    background-color: gray;
    float: left;
    margin-left: 1%;
}

#trailbnb #trip #letrio #hote5 #icon3{
    width: 100%;
    height: 60px;
    background-color: #d32e2e;
    margin-bottom: 20px;
}

#trailbnb #trip #letrio #hote5 #icon3 .avatar3{
    width: 60px;
    height: 60px;
    background-color: #ffc965;
}

#trailbnb #trip #letrio #host .jour{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #000;
}

#trailbnb #trip #letrio #host .nuit{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
    color: #484848;
}

/*::after div letrio*/
#trailbnb #trip #letrio::after{
    content: " ";
    background-color: #ebebeb;
    display: block;
    width: 99%;
    height: 1px;
    margin-top: 15px;
}
